@import "tailwindcss";

@theme {
  --font-headline: "Epilogue", sans-serif;
  --font-body: "Manrope", sans-serif;
  --color-vega-bg: #0e0e0e;
  --color-vega-bg-soft: #131313;
  --color-vega-surface: #1a1919;
  --color-vega-surface-hi: #201f1f;
  --color-vega-muted: #adaaaa;
  --color-vega-accent: #ff8f70;
  --color-vega-accent-strong: #ff7852;
  --color-vega-outline: #494847;
}

@layer base {
  html,
  body {
    min-height: 100%;
  }

  body {
    font-family: var(--font-body);
    background:
      radial-gradient(circle at 80% -10%, #2b120d 0%, #0e0e0e 40%), #0e0e0e;
  }
}
